@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&family=Anek+Malayalam:wght@300&family=Prompt:wght@100&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: "Raleway", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

html {
   background:linear-gradient(45deg, #ECE9E6, #FAF8F9);
   min-height: 100vh;
   /* overflow: hidden; */
}

